<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
    <h1>Report Template</h1>
    <h2 th:text="'Nome del corso: ' + ${report.courseName}">Course Name</h2>
    <h3 th:text="'Data dell`appello: ' + ${report.roundDate}">Round Date</h3>
    <h3 th:text="'Codice del Verbale: ' + ${report.reportCode}">Report Code</h3>
    <h3 th:text="'Data ed Ora del Verbale: ' + ${report.reportDateTime}">Report Date</h3>

    <table>
        <thead>
            <tr>
                <th th:each="columnName: ${columnNames}">
                    <p th:text="${columnName.name}">
                        Column Name
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="attendance : ${attendances}">
                <td>
                    <p th:text="${attendance.studentId}">
                        student id
                    </p>
                </td>
                <td>
                    <p th:text="${attendance.studentName}">
                        student name
                    </p>
                </td>
                <td>
                    <p th:text="${attendance.studentSurname}">
                        student surname
                    </p>
                </td>
                <td>
                    <p th:text="${attendance.mark}">
                        mark
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>