<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appelli</title>
</head>
<body>
    <h2 th:text="'Scegli un appello ' + ${session.user.role.getValue() == 1 ? 'per il quale gestire i voti':'a cui sei iscritto per visualizzare il voto'} ">Course Rounds Template</h2>
    <p th:text="'Nome del corso:' + ${course.name}">Course Rounds for course:</p>

    <table border="1">
        <tr th:each="round : ${rounds}">
            <td>
                <a th:href="@{${getRoundServletPath}(roundId=${round.id})}" th:text="${round.date}" >
                    Link
                </a>
            </td>
        </tr>
    </table>
</body>
</html>